# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/
.env/

# pip
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Test & coverage
htmlcov/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Git
*.orig